<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="voc.net.tools.zgirls_tool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".ui.ChartActivity"></activity>
        <activity
            android:name=".ui.BatteryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".egg.Christmas2020"
            android:screenOrientation="portrait"
            android:theme="@style/NoTheme" />
        <activity
            android:name=".ui.BuildingLvlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SuitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LegendaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MechaEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DonateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DataTroopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old_ui.DataEnablerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BuildingInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old_ui.EnablerShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old_ui.EnablersLotteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old_ui.EquipmentLotteryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BuildingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.ColorPicker"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.StarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".old_ui.Easter01Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.KizunaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.DeskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DataListActivity"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".old_ui.TechActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.NewTechActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.NewTroopsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.PreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.BackgroundPreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.BackupBackgroundPreviewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.LogoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".old_ui.EXPCActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.EventActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.MechaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.EXPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".old_ui.TroopsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".old_ui.TBActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.ReadActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".util.SuspensionTakeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".old_ui.ANIActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".util.DataDemo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities=".provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".util.ExampleAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingame_appwidget_info" />
        </receiver>

        <service android:name=".util.UpdateService" />
        <service android:name=".util.WIFI_Warning" />

        <activity
            android:name="com.ljoy.chatbot.ChatMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/showBgStyleFullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ljoy.chatbot.OPActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/showBgStyleFullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ljoy.chatbot.FAQActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/showBgStyleFullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ljoy.chatbot.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/showBgStyleFullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.ljoy.chatbot.QAWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/showBgStyleFullscreen"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <receiver android:name=".ui.Receiver"></receiver>
    </application>

</manifest>